<div class="row"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.hcpR1cW5U0m5-Bd1ROVCFQHaEK?pid=ImgDet&rs=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{Car.Maker}}</h5>
      <p class="card-text">{{Car.Model}}</p>
      <p class="card-text">{{Car.Price}}</p>
      <p class="card-text">{{Car.Availability}}</p>
      <a href="#" class="btn btn-primary">Rent</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://th.bing.com/th/id/OIP.hcpR1cW5U0m5-Bd1ROVCFQHaEK?pid=ImgDet&rs=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{Car.Maker}}</h5>
      <p class="card-text">{{Car.Model}}</p>
      <p class="card-text">{{Car.Price}}</p>
      <p class="card-text">{{Car.Availability}}</p>
      <a href="#" class="btn btn-primary">Rent</a>
    </div>
  </div>

   